<mat-card class="card">
    <ng-container *ngIf="!isEditMode">
        <mat-card-header>
            <div class="header-content">
                <mat-card-subtitle class="header-id">{{ movie.id }}</mat-card-subtitle>
                <mat-card-title>{{ movie.movieTitle }}</mat-card-title>
            </div>
        </mat-card-header>

        <mat-card-image [ngStyle]="{'background-image': 'url(' + movie.imgUrl + ')'}"
            class="movie-poster"></mat-card-image>
        <mat-card-content #cardContent>
            <p>duración: {{ movie.duration }}</p>
            <p>genero: {{ movie.genre }}</p>
        </mat-card-content>

        <mat-card-actions *ngIf="showButtons" #cardActions>
            <button mat-button (click)="enableEditMode()">edit</button>
            <button mat-button>delete</button>
        </mat-card-actions>
    </ng-container>

    <ng-container *ngIf="isEditMode">
        <!-- Contenido del formulario -->
        <form (ngSubmit)="onSubmit()" #movieForm="ngForm">
            <mat-form-field>
                <mat-label>Titulo</mat-label>
                <input matInput [(ngModel)]="movie.movieTitle" name="movieTitle" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Imagen URL</mat-label>
                <input matInput [(ngModel)]="movie.imgUrl" name="imgUrl" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Duración</mat-label>
                <input matInput [(ngModel)]="movie.duration" name="duration" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Genero</mat-label>
                <input matInput [(ngModel)]="movie.genre" name="genre" required />
            </mat-form-field>
            <mat-card-actions>
                <button mat-button type="submit">save</button>
                <button mat-button (click)="disableEditMode()">cancel</button>
            </mat-card-actions>
        </form>
    </ng-container>
</mat-card>