<mat-card class="card" (mouseenter)="showButtons = true" (mouseleave)="showButtons = false">
    <ng-container>
        <mat-card-header>
            <div class="header-content">
                <div class="id-title-container">
                    <mat-card-subtitle class="header-id">
                        {{ movie.id }}
                    </mat-card-subtitle>
                    <mat-card-title>
                        <div class="title-text">{{ movie.title }}</div>
                    </mat-card-title>
                </div>
            </div>
        </mat-card-header>

        <mat-card-image [ngStyle]="{'background-image': 'url(' + movie.imgUrl + ')'}" class="movie-poster">
        </mat-card-image>
        <mat-card-content #cardContent>
            <p>duración: {{ movie.duration }}</p>
            <p>genero: {{ movie.genre }}</p>
        </mat-card-content>
        <div class="button-container" *ngIf="showButtons">
            <a class="buttonShow" (click)="edit.emit(movie)">edit</a>
            <a class="buttonDelete" (click)="delete.emit(movie)">delete</a>
        </div>
    </ng-container>
</mat-card>