* {
  background-color: #1e1e1e;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
  padding: 30px 0 30px 0;
}

app-movie-card {
  flex: 1; /* Hacer que las tarjetas ocupen todo el espacio disponible */
  max-width: 300px; /* Establecer un ancho máximo para las tarjetas */
}

mat-header-cell {
  color: #fff;
}
mat-cell {
  color: #fff;
}
.movies h2 {
  color: white;
  text-align: center;
}

.movies {
  min-height: calc(100% - 64px);
  display: flex;
  flex-direction: column;
}

button {
  color: #fff;
  background-color: green;
  padding: 8px 12px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px;
}

mat-paginator {
  color: #fff;
  background-color: #323233;
}

mat-label {
  background-color: transparent;
}

.movie-image {
  height: 100px;
  width: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
}
